<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" 
      type="text/css" />
  </head>
  <body>
    <a id="a_menu" href= "/index.html"> Home </a>
    <br>
    <H3>About</H3>
    <hr>
    <h2>Developers</h2>
    <strong>Lead Dev: <a href="https://replit.com/@ruiwenge2" target="_blank">ruiwenge2  </a></strong>
    <br>
    <b>Graphic Designer/Dev: <a href="https://replit.com/@nathanmcoder" target="_blank">nathanmcoder  </a></b>
    <br>
    <b>Website Designer/Dev: <a href="https://replit.com/@ronemic" target="_blank">ronemic  </a></b>
    <br>
    <b>Website Designer/Dev: <a href="https://replit.com/@szhyk132" target="_blank">szhyk132  </a></b>
  </body>
</html> 