<!DOCTYPE html>
<html>
<head>
  <title>Supreme Tank Game</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="div_menu">
    <a id="a_menu" href="/About.html"> About </a>
    <a id="a_menu" href="/Tanks.html"> Tanks </a>
  </div>
  <h1>Supreme Tank Game</h1>
  <h2>By:epicgamecreators</h2>
  <br>
  <button id="startGame">Start Game</button>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <br>
    <br>
  <script src="js/main.js" type="module"></script>
</body>
</html>