<!DOCTYPE html>
<html>
<head>
  <title>Supreme Tank Game</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <main>
    <div id="div_menu">
      <a id="a_menu" href="/about">About</a><br>
      <a id="a_menu" href="/tanks">Tanks</a>
    </div>
    <h1>Supreme Tank Game</h1>
    <br>
    <button id="startGame">Start Game</button>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
  <script src="/game.js" type="module"></script>
</body>
</html>