<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a id="a_menu" href= "/index.html"> Home </a>
    <br>
    <h3>Tanks</h3>
    <hr>
    <img src="images/tank.png" alt="tank.png" width="80" height="80">
    <p>1.The Hound</p>
    <table>
      <thead>
        <tr>
          <th>HP</th>
          <th>Damage</th>
          <th>Speed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>